:root {
    --link-color-hover: #2196F3;
    --primary-color: #212121;
    --secondary-color: #757575;
}
body {
    font-family: Roboto, sans-serif;
}
.container {
    max-width: 1230px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px dashed black;
}
/* header */
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.list-navigation {
    list-style: none;
    margin: 0 auto;
    display: flex;
    text-align: center;
    padding: 0%;
    align-items: center;
}

nav {
    font-family: Roboto, sans-serif;
}

.logo-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: black;
    margin-right: 93px;
}

.logo {
    color: #2196F3;
}

.link-header {
    color: var(--primary-color);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin-right: 50px;
}

.link-header.contacts {
    margin-right: 0px;
}

.link-header:hover,
.link-header:focus {
    color: #2196F3;
}

.section-header-contacts {
    display: flex;
    list-style: none;
    padding: 0%;
    margin: 0%;
}

.link-contact {
    text-decoration: none;
    color: var(--secondary-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-right: 50px;
    margin-left: 0%;
}

.link-contact.phone {
    margin-right: 0%;
}

.link-contact:hover,
.link-contact:focus {
    color: var(--link-color-hover)
}

/* main */
h1 {
    display: none;
}
.filter {
    display: flex;
    list-style: none;
    margin-left: 297px;
    margin-right: 298px;
    padding-left: 0%;
    justify-content: space-between;
}

.buttons-filter {
    font-weight: 500; 
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: #212121;
    background: #F5F4FA;
    cursor: pointer;
    border-radius: 4px;
}
.buttons-filter.all {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
        color: #ffffff;
        background: #2196F3;
        cursor: pointer;
        text-align: center;
}
.buttons-filter:hover,
.buttons-filter:focus {
    color: white;
    background: #2196F3;
}
.link-main {
    text-decoration: none;
}
.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;    
    letter-spacing: 0.06em;
    color: var(--primary-color);
}
.subtitle {
    font-size: 16px;
        line-height: 1.88;    
        letter-spacing: 0.03em;
    color: var(--secondary-color);
}
/* footer */
footer {
    background: #2F303A;
}

.logo-footer {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: white;
    padding-top: 60px;
    padding-bottom: 20px;
}

.link-footer-address {
    display: block;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
}

.link-footer {
    display: block;
    text-decoration: none;
    color: var(--secondary-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.list-footer {
    list-style: none;
    padding-left: 0%;
    margin: 0%;
    padding-bottom: 60px;
}

.link-footer:hover,
.link-footer:focus {
    color: var(--link-color-hover)
}

.link-footer,
.link-footer-address {
    margin-bottom: 9px;
}

.link-footer.phone {
    margin-bottom: 0%;
}